<div class="container">
  <h2>You have <b>{{totalTodo}}</b> tasks to complete.</h2>

  <mat-list *ngFor="let task_item of _tasks; let i = index">
    <mat-list-item *ngIf="task_item.isChecked == false">
      <mat-checkbox [value]="task_item.isChecked"
                    [checked]="task_item.isChecked"
                    (change)="updateStatus(i)">
      </mat-checkbox>
      <p [ngStyle]="setCompletedTaskStyle(i)" *ngIf="!editables[i]"> {{task_item.name}} 
      </p>
      <textarea matInput placeholder="Type the new name" 
                [(ngModel)]="newTaskName"
                matTextareaAutosize matAutosizeMinRows="1" 
                *ngIf="editables[i]"
                matAutosizeMaxRows="3">
      </textarea>
      <i title="update" (click)="update(i)" *ngIf="editables[i]" class="material-icons deeppink">update</i>
      <i title="edit" (click)="editTask(i)" *ngIf="!editables[i]" class="material-icons deeppink">edit</i>
    </mat-list-item>
  </mat-list>

  <div class="taskInput">
    <mat-form-field *ngIf="isAddClicked">
      <textarea matInput placeholder="Type your task name here" 
                [(ngModel)]="currentTask"
                matTextareaAutosize matAutosizeMinRows="1"
                matAutosizeMaxRows="3">
      </textarea>
    </mat-form-field>
  </div>

  <div class="taskButtons">
    <button mat-raised-button (click)="saveTask()">Add task</button>
    <button mat-raised-button (click)="clearTasks()">Clean Tasklist</button>
  </div>
</div>
